<section class="room">
    <div class="row">
        <div class="col-8">
            <h5>Double Room with Two Double Beds - High Floor</h5>
            <h5 class="d-flex align-items-center">2<i class="icon-man"></i>&nbsp0<i class="icon-man icon-child"></i></h5>
            <p>Details <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M13.22 19.03a.75.75 0 0 1 0-1.06L18.19 13H3.75a.75.75 0 0 1 0-1.5h14.44l-4.97-4.97a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l6.25 6.25a.75.75 0 0 1 0 1.06l-6.25 6.25a.75.75 0 0 1-1.06 0Z"></path></svg></p>
            <span class="badge text-bg-info">Free Wifi</span>
        </div>
        <div class="col-4 text-end">
            <h3>€390.63</h3>
            <p>per night</p>
            <h4>€462.61</h4>
            <p>(including taxes)</p>
        </div>
    </div>
    <button type="button" class="btn btn-primary w-100 mt-2">Reserve</button>
</section>
